*{
    padding:0%;
    margin:0%;
}
body{
    margin-top:150px;
    margin-left:400px;
    background-color:cornsilk;
    background-size: cover;
}
h1{
    color:black;
    margin-left: 120px;
}
.main_div{
    border-radius:2px solid black;
    width:500px;
    height:100px;
    display:block;
    background-color: pink;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom:10px;
}
img{
    width:150px;
    height:100px;
}
b{
    font-size: 20px;
    color:blueviolet;
    position: absolute;
    margin-left: 120px;
    margin-top:50px;
}
